# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.build/

# Virtual environments
.venv/
.venv

# Environment variables
.env
.env.*
.env.local

# OS files
.DS_Store
Thumbs.db

# Editors / IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
